<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New Page</title>
</head>
<body>
    <h1> Add a New Show or Movie </h1>

    <form action="/movies" mehtod="post">

    <label> Category: 
    <input type="text" name="category" placeholder="Movie"> 
    </label>

    <label> Movie's Name: 
    <input type="text" name="title" placeholder="Ocean'8"> 
    </label>

    <label> Watching On: 
    <input type="text" name="streamingService" placeholder="Apple TV">
    </label>

    <label> Year: 
    <input type="text" name="year" placeholder="2018"> 
    </label>

    <label>Watched:
     <input type="checkbox" name="watched" placeholder="yes"> 
    </label>

    <label> Image: 
        <input type="text" name="img" placeholder="https://resizing.flixster.com/XmbHMtF_FCIplSDO5gtUNCEGgQc=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2Q1OGU0NDE0LTI3MDUtNGQ0Ni05YmVhLWUyN2JjYTdjZDgxMi53ZWJw">
    </label>
    </form>
 

    <button> <input type="submit" value="Add New show/movie">  </button> 
    <h1>"Cinema is the most beautiful fraud in the world." - Jean-Luc Godard</h1>

</body>
</html>