<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css"/>

    <title> New Page</title>
</head>
<body>

    <style>
        h1{text-align: center;}
        body{ 
            text-align: center; 
            padding: 70px 0;
            border: 3px solid green;
            width: 1800px; 
            margin: auto; 
            /* position: absolute; */
            top: 50%;
            left: 50%
        }

    </style>

    <h1> Add a New Show or Movie </h1>

    <form action="/movies" method="post">

    <label> Category: 
    <input type="text" name="category" placeholder="Movie"> 
    </label>

    <label> Title: 
    <input type="text" name="title" placeholder="Ocean'8"> 
    </label>

    <label> Watching On: 
    <input type="text" name="streamingService" placeholder="Apple TV">
    </label>

    <label> Year: 
    <input type="text" name="year" placeholder="2018"> 
    </label>

    <label>Watched:
     <input type="checkbox" name="watched" placeholder="yes"> 
    </label>

    <label> Image: 
        <input type="text" name="img" placeholder="https://resizing.flixster.com/XmbHMtF_FCIplSDO5gtUNCEGgQc=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2Q1OGU0NDE0LTI3MDUtNGQ0Ni05YmVhLWUyN2JjYTdjZDgxMi53ZWJw">
    </label>
    
    <button> <input type="submit" value="Add New show/movie">  </button> 
   
</form>
 
<form>
    <input type="button" value="Go back!" onclick="history.back()">
   </form>

    
    <h2>"Cinema is the most beautiful fraud in the world." - Jean-Luc Godard</h2>

</body>
</html>